<div class="row mt-3 mb-5">
    <div class="col-12 col-md-9 mb-3 pr-md-0" id="book-pane">
        <% if(alerts.length>0){ %>
            <%- include('../components/alert-post', { alerts: alerts}) %>
                <% }else{ %>
                    <div class="card bg-light p-1 mt-2 mb-2 text-center" id="">
                        <strong class="">You don't have any alerts!</strong>
                    </div>
                    <% } %>
    </div>
    <div class="col-12 col-md-3 d-none d-md-flex">
        <div class="container-fluid p-0">

        </div>
    </div>
</div>