<div class="row mt-3 mb-5">
    <div class="col-12 col-md-9 mb-3 pr-md-0" id="book-pane">
        <%- include('../components/widget-bookcontrols', {q})%>
            <!-- mockup book -->
            <%- include('../components/book-post', {expanded: expanded, books: books})%>
    </div>
    <div class="col-12 col-md-3 d-none d-md-flex">
        <div class="container-fluid p-0">
            <% if(meetings.length>0){ %>
                <%- include('../components/widget-meetings', { meetings: meetings, expanded: true}) %>
                    <% } %>
                        <%- include('../components/widget-links', {})%>
        </div>
    </div>
</div>