<div class="row mt-3 mb-5">

    <div class="col-12 col-sm-8 col-md-9 mb-3 pr-sm-0" id="book-pane">
        <%- include('../components/widget-clubcontrols', {})%>
            <!-- mockup club -->
            <% if(currentUser && currentUser.clubs.length>0){ %>
                <div class="card bg-light p-1 mt-2 mb-2 text-center" id="">
                    <strong class="">Your clubs</strong>
                </div>
                <% clubs.forEach((club,index)=>{ %>
                    <%- include('../components/widget-club', {club: club, expanded: false, mini: false})%>
                        <% }); %>
                            <% } %>
                                <div class="card bg-light p-1 mt-2 mb-1 text-center" id="">
                                    <strong class="">Public clubs you might like</strong>
                                </div>
                                <div class="publicClubContainer">
                                    <% publicClubs.forEach((publicClub,index)=>{ %>
                                        <%- include('../components/widget-club', {club: publicClub, expanded: false,
                                            mini: true})%>
                                            <% }); %>
                                </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 d-none d-sm-flex">
        <div class="container-fluid p-0">
            <%- include('../components/widget-links', {})%>
        </div>
    </div>
</div>