<% if(meetings.length>0){ %>
    <div class="row mt-3">
        <div class="col-12">
            <%- include('../components/widget-meetings', { meetings: meetings, expanded: true}) %>
        </div>
    </div>
    <% } %>
        <div class="row mt-3 mb-5">
            <div class="col-12">
                <div class="card p-2">
                    <div id='calendar' class="fc fc-media-screen fc-direction-ltr fc-theme-standard"></div>
                </div>
            </div>
        </div>