<div class="row mt-3 mb-5">
    <div class="col-12 col-sm-8 col-md-9" id="book-pane">
        <%- include('../components/widget-clubcontrols', {q})%>
            <!-- mockup book -->
            <% for(let i=0;i<3;i++){ %>
                <div class="row">
                    <div class="col-12">
                        <div class="card club mb-2 bot-shadow-s">
                            <div class="card-header d-flex flex-row align-items-center placeholder">

                            </div>
                            <div class="card-body p-1" <%=`style=border-color:#EEEEEE `%>>
                                <h4 class="text-center mt-3">
                                    <div class="placeholder placeholder-title"></div>
                                </h4>
                                <p class="text-center">
                                <div class="placeholder placeholder-body"></div>
                                <div class="placeholder placeholder-body-2"></div>
                                </p>
                                <p class="text-center text-muted">
                                <div class="placeholder placeholder-text"></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
    </div>
    <div class="col-12 col-sm-4 col-md-3 mb-3 pr-sm-0">
        <div class="container-fluid p-0">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="list-group bot-shadow-s">
                        <% for(let i=0;i<3;i++){ %>
                            <a href="#"
                                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <div class="placeholder placeholder-text"></div>
                            </a>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card bot-shadow-s">
                        <div class="card-header">
                            <div class="placeholder placeholder-text"></div>
                        </div>
                        <div class="card-body">
                            <% for(let i=0;i<3;i++){ %>
                                <div class="placeholder placeholder-tag flex-spacer-r-sm"></div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>