<div class="row">
    <div class="col-12 col-sm-8 col-md-9" id="book-pane">
        <!-- mockup book -->
        <div class="card book mb-3 bot-shadow-s">
            <div class="card-header d-flex flex-row align-items-center p-1">
                <div class="placeholder placeholder-userpic"></div>
                <span class="flex-spacer-r flex-spacer-l">
                    <div class="placeholder placeholder-text"></div>
                </span>
                <span class="text-muted">
                    <div class="placeholder placeholder-text"></div>
                </span>

                <div class="ml-auto">
                    <span class="text-muted">
                        <div class="placeholder placeholder-text"></div>
                    </span>
                </div>
            </div>
            <div class="card-body sla-placeholder p-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <h5>
                                <div class="placeholder placeholder-title"></div>
                            </h5>
                            <p>
                            <div class="placeholder placeholder-body"></div>
                            <div class="placeholder placeholder-body-2"></div>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="placeholder placeholder-carousel"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">
    
            </li>
        </ul> -->
            <div class="card-footer d-flex flex-row align-items-center">
                <div class="placeholder placeholder-tag flex-spacer-r"></div>
                <div class="placeholder placeholder-tag flex-spacer-r"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 mb-3 pr-sm-0">
        <div class="container-fluid p-0">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="card bot-shadow-s">
                        <div class="card-header">
                            <div class="placeholder placeholder-text"></div>
                        </div>
                        <div class="card-body">
                            <% for(let i=0;i<3;i++){ %>
                                <div class="placeholder placeholder-tag flex-spacer-r-sm"></div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>