<% try { %>
    <div class="container-fluid">
        <% alerts.sort(function(a,b){ return new Date(b.posted) - new Date(a.posted); }).forEach((alert, index)=> { %>
            <div class="rounded <%=(alert.read)? 'bg-white' : 'bg-unread';%> p-2 mb-2 row cursor-pointer"
                data-read="<%=alert.read%>" data-id="<%=alert._id%>" data-code="<%=alert.code%>"
                data-refbook="<%=(alert.refBook)? alert.refBook._id : ''%>"
                data-refclub="<%=(alert.refClub)? alert.refClub._id : ''%>"
                data-refpoll="<%=(alert.refPoll)? alert.refPoll._id : ''%>"
                data-refmeeting="<%=(alert.refMeeting)? alert.refMeeting._id : ''%>"
                data-refparentcomment="<%=(alert.refParentComment)? alert.refParentComment._id : ''%>"
                data-refcomment="<%=(alert.refComment)? alert.refComment._id : ''%>" onclick="openAlert(this,event)">
                <div class="col-2 col-sm-1 p-0 alert-author-container">
                    <img src="/img/person-placeholder.jpg" class="rounded-circle border alert-author-icon">
                    <div class="alert-type-icon rounded-circle bg-primary svg-shadow">
                        <svg class="alert-type-svg bi text-white svg-shadow" width="16" height="16" role="img"
                            aria-label="Home" fill="currentColor">
                            <use xlink:href="#<%=alert.icon%>"></use>
                        </svg>
                    </div>
                </div>
                <div class="col-10 col-sm-11 pl-1 pr-4">
                    <span class="font-weight-bold">
                        <%=alert.refUser.displayname%>
                    </span>
                    <% if(alert.code=="comment_new" ){ %>
                        <span>
                            posted a new comment to:
                        </span>
                        <span class="font-weight-bold">
                            <%=alert.refBook.title%>
                        </span>
                        <% }else if(alert.code=="comment_reply" ){ %>
                            <span>
                                replied to your comment on:
                            </span>
                            <span class="font-weight-bold">
                                <%=alert.refBook.title%>
                            </span>
                            <% }else if(alert.code=="meeting_new" ){ %>
                                <span>
                                    posted a meeting date to:
                                </span>
                                <span class="font-weight-bold">
                                    <%=alert.refBook.title%>
                                </span>
                                <% }else if(alert.code=="poll_new" ){ %>
                                    <span>
                                        posted a new poll to:
                                    </span>
                                    <span class="font-weight-bold">
                                        <%=alert.refBook.title%>
                                    </span>
                                    <% }else if(alert.code=="club_joined" ){ %>
                                        <span>
                                            joined your club:
                                        </span>
                                        <span class="font-weight-bold">
                                            <%=alert.refClub.name%>
                                        </span>
                                        <% }else if(alert.code=="book_new" ){ %>
                                            <span>
                                                posted a new book to:
                                            </span>
                                            <span class="font-weight-bold">
                                                <%=alert.refClub.name%>
                                            </span>
                                            <% } %>
                                                <div class="text-muted">
                                                    <%=ejsHelpers.timeSince(alert.posted)%>
                                                </div>
                                                <span class="floating-trash" onclick="deleteAlert(this)">
                                                    <svg class="bi text-muted cursor-pointer" width="24" height="24"
                                                        fill="currentColor">
                                                        <use xlink:href="#trashcan"></use>
                                                    </svg>
                                                </span>
                </div>
            </div>
            <% }); %>

    </div>
    <% } catch (e){ console.log(e)} %>