<% try { %>
    <div class="note mb-2 p-1 bg-white" data-id="<%=note.id%>">
        <div class="d-flex flex-row align-items-center cursor-pointer note-header" data-toggle="collapse"
            data-target="#notebody-<%=note.id%>" aria-expanded="true">
            <img src="/img/noteicon.png" width="24" height="24" class="rounded-circle">
            <span class="mx-2">
                Page <%=note.siPage%>
            </span>
            <span class="text-muted">
                <%=ejsHelpers.timeSince(note.posted)%>
            </span>

            <div class="ml-auto">
                <a onclick="" class="dropdown" aria-current="page" id="note-ellipsis-<%=note.id%>"
                    data-toggle="dropdown" aria-expanded="false">
                    <svg class="bi" width="16" height="16" role="img" aria-label="Home" fill="currentColor">
                        <use xlink:href="#ellipsis"></use>
                    </svg>
                </a>
                <%- include('../components/note-dropdown', {id: note.id,canEdit: (currentUser &&
                    note.author._id.toString()==currentUser._id.toString())})%>
            </div>
        </div>
        <div class="card-body p-1 collapse show" id="notebody-<%=note.id%>">
            <% if(note.siQuote){ %>
                <div class="note-quote mb-1">
                    <a href="<%=`https://archive.org/details/${book.aId}?ref=ol&q=" ${note.siQuote}"`%>"
                        target="_blank" data-toggle="tooltip" data-placement="top"
                        title="This will link will open a search on Archive.org's Search-inside tool.">
                        "<%= note.siQuote %>"
                    </a>
                </div>
                <% } %>
                    <div class="mb-1">
                        <%-note.body%>
                    </div>
        </div>
    </div>
    <% } catch(e){ console.log(e)} %>