<% try{ %>
    <div class="mb-2 p-1 bg-white comment" data-id="<%=comment.id%>">
        <div class="comment-header d-flex flex-row align-items-center cursor-pointer" data-toggle="collapse"
            data-target="#commentbody-<%=comment.id%>" aria-expanded="true">
            <img class="rounded-circle border" src="<%=comment.author.image.url%>" width="24" height="24">
            <span class="mx-2">
                <%=comment.author.displayname%>
            </span>
            <span class="text-muted">
                <%=ejsHelpers.timeSince(comment.posted)%>
            </span>

            <div class="ml-auto">
                <a onclick="" class="dropdown" aria-current="page" id="comment-ellipsis-<%=comment.id%>"
                    data-toggle="dropdown" aria-expanded="false">
                    <svg class="bi" width="16" height="16" role="img" aria-label="Home" fill="currentColor">
                        <use xlink:href="#ellipsis"></use>
                    </svg>
                </a>
                <%- include('../components/comment-dropdown', {id: comment.id,canEdit: (currentUser &&
                    comment.author._id.toString()==currentUser._id.toString())})%>
            </div>
        </div>
        <div class="card-body p-1 collapse show" id="commentbody-<%=comment.id%>">
            <% if(comment.siQuote){ %>
                <div class="comment-quote mb-1">
                    <a href="<%=`https://archive.org/details/${book.aId}?ref=ol&q=" ${comment.siQuote}"`%>"
                        target="_blank" data-toggle="tooltip" data-placement="top"
                        title="This will link will open a search on Archive.org's Search-inside tool.">Page
                        <%=comment.siPage%>: "<%= comment.siQuote %>"
                    </a>
                </div>
                <% } %>
                    <div class="mb-1">
                        <%-comment.body%>
                    </div>
                    <div class="nav-likescomments d-flex flex-row align-items-center mb-1">
                        <span <%if(currentUser){ %>
                            onclick="likeComment('<%=comment._id%>',this);"
                                <% }else{ %>
                                    onclick="showLoginPopout('You must be signed in.');"
                                    <% } %> class="btn-likescomments mr-3 d-flex align-items-center">
                                        <svg class="bi mr-1" width="16" height="16" role="img" aria-label="Likes"
                                            fill="currentColor">
                                            <use
                                                xlink:href="<%=(currentUser && comment.likes.indexOf(currentUser._id)!==-1)? '#thumbsup-fill': '#thumbsup'%>">
                                            </use>
                                        </svg>
                                        <span class="ml-1 likecounter">
                                            <%= comment.likes.length %>
                                        </span>
                                        <span class="ml-1 d-none d-sm-inline"> Likes</span>
                        </span>
                        <% if(level<2){ %>
                            <% if(comment.replies){ %>
                                <span class="btn-likescomments mr-2 d-flex align-items-center">
                                    <svg class="bi mr-1" width="16" height="16" role="img" aria-label="Replies"
                                        fill="currentColor">
                                        <use xlink:href="#comments"></use>
                                    </svg>
                                    <%= comment.replies.length %><span class="ml-1 d-none d-sm-inline"> Replies</span>
                                </span>
                                <% } %>
                                    <span class="ml-auto">
                                        <a onclick="expandCommentInput('<%=comment.id%>','<%=comment.author.displayname%>');"
                                            id="comment-submit" data-page="3" class="d-flex align-items-center"
                                            tabindex=0>
                                            <svg class="bi" width="24" height="24" role="img" aria-label="Reply"
                                                fill="currentColor">
                                                <use xlink:href="#reply"></use>
                                            </svg>
                                            <span class="ml-1 d-none d-sm-inline">Reply</span>
                                        </a>
                                    </span>
                                    <% } %>
                    </div>
                    <% if(level<2){ %>
                        <% if(comment.replies){ %>
                            <div class="pl-3 ml-2 replies">
                                <% comment.replies.sort(function(a,b){ return new Date(b.posted) - new Date(a.posted);
                                    }).forEach((reply, index)=> { %>
                                    <%- include('../components/book-comment', {book: book, comment: reply, level:
                                        level+1})%>
                                        <% }); %>
                            </div>
                            <% } %>
                                <% } %>

        </div>
    </div>
    <% } catch(e){ console.log(e)} %>