<div class="row mb-3">
    <div class="col-12">
        <div class="card bot-shadow-s">
            <div class="card-header">
                Side Pane
            </div>
            <div class="card-body">
                Side Pane Content
            </div>
        </div>
    </div>
</div>