<% try{ %>
    <% let voted=false; %>
        <% if(poll.voters.indexOf(currentUser._id)!==-1){ voted=true;} %>
            <div class="poll mb-2 p-1 bg-white" data-id="<%=poll.id%>">
                <div class="d-flex flex-row align-items-center cursor-pointer poll-header" data-toggle="collapse"
                    data-target="#pollbody-<%=poll.id%>" aria-expanded="true">
                    <img src="/img/person-placeholder.jpg" width="24" height="24" class="rounded-circle border">
                    <span class="mx-2">
                        <%=poll.author.displayname%>
                    </span>
                    <span class="text-muted">
                        <%=ejsHelpers.timeSince(poll.posted)%>
                    </span>

                    <div class="ml-auto">
                        <a onclick="" class="dropdown" aria-current="page" id="poll-ellipsis-<%=poll.id%>"
                            data-toggle="dropdown" aria-expanded="false">
                            <svg class="bi" width="16" height="16" role="img" aria-label="Home" fill="currentColor">
                                <use xlink:href="#ellipsis"></use>
                            </svg>
                        </a>
                        <%- include('../components/poll-dropdown', {id: poll.id,canEdit: (currentUser &&
                            poll.author._id.toString()==currentUser._id.toString())})%>
                    </div>
                </div>
                <div class="card-body p-1 collapse show" id="pollbody-<%=poll.id%>">
                    <div class="mb-1">
                        <div class="meeting-quote font-weight-bold mb-1">
                            <%=poll.question%>
                        </div>
                        <% poll.answers.forEach((answer, index)=> { %>
                            <div class="polloption">
                                <input type="<%=(poll.multiplechoice)? 'checkbox' : 'radio' ; %>"
                                    id="p-<%=poll.id%>-a-<%=index%>" name="p-<%=poll.id%>" value="<%=answer._id%>"
                                    class="cursor-pointer flex-grow-1" <%=(currentUser &&
                                    answer.votes.indexOf(currentUser._id)!==-1)? "checked" : "" %>
                                <%=(voted)? "disabled" : "" %>
                                    >
                                    <label for="p-<%=poll.id%>-a-<%=index%>" class="mb-0 cursor-pointer flex-grow-0">
                                        <%=answer.answer%>
                                            <%if(voted){%>
                                                <span class="text-muted">
                                                    : <%=answer.votes.length%> votes
                                                </span>
                                                <% } %>
                                    </label>
                            </div>
                            <% }); %>
                                <div class="text-danger d-none error mt-1">

                                </div>
                                <button <%if(currentUser){ %>
                                    onclick="voteOnPoll('<%=poll.id%>',this);"
                                        <% }else{ %>
                                            onclick="showLoginPopout('You must be signed in.');"
                                            <% } %> class="btn btn-primary rounded-pill py-1 mt-1"
                                                <%=(voted)? "disabled" : "" %>>Vote</button>
                    </div>
                </div>
            </div>
            <% } catch(e){ console.log(e)} %>