<% try{ %>
    <% books.forEach((book, index)=> { %>
        <div class="card book mb-3 bot-shadow-s" <%=(!expanded)? `onclick=showBook('${book.id}',event);` : "" ; %> >
            <div class="card-header d-flex flex-row align-items-center px-1 py-1">
                <img src="<%=book.club.icon.url%>" width="24" height="24" class="rounded-circle d-none d-sm-inline">
                <span class="ml-1 mr-2">
                    <%=book.club.name%>
                </span>
                <span class="text-muted post-info">
                    Posted by <%=book.poster.displayname%>
                        <%=ejsHelpers.timeSince(book.posted)%>
                </span>

                <div class="ml-auto">
                    <% if(!expanded){ %>
                        <a onclick="" class="dropdown" aria-current="page" id="book-ellipsis-_template"
                            data-toggle="dropdown" aria-expanded="false">
                            <svg class="bi" width="16" height="16" role="img" aria-label="Home" fill="currentColor">
                                <use xlink:href="#ellipsis"></use>
                            </svg>
                        </a>
                        <%- include('../components/book-dropdown', {id: book.id, canEdit: (currentUser &&
                            book.poster._id.toString()==currentUser._id.toString())})%>
                            <% } %>
                </div>
            </div>
            <div class="card-body p-1" <%=`style=border-color:${book.club.color} `%>>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="book-card-cover m-2">
                                <a href="<%=book.coverThumb.url%>" target="_blank"><img src="<%=book.coverThumb.url%>"
                                        alt="Book cover" class="book-cover img-fluid bot-shadow"></a>
                            </div>
                            <h4 class="result-title mr-2 mb-0">
                                <%=book.title%>
                            </h4>
                            <% const tags=ejsHelpers.combineTags([book]) %>
                                <% tags.forEach((tag, index)=> { %>
                                    <div class="tag">
                                        <span>
                                            <%=tag.tag%>
                                        </span>
                                        <span class="font-weight-bold">
                                            <%=(tag.count>1)? tag.count : ""%>
                                        </span>
                                    </div>
                                    <% }); %>
                                        <div class="result-author">
                                            By <%=book.author%>
                                        </div>
                                        <div class="result-published">
                                            <%=book.publishedDate%>
                                        </div>
                                        <div class="my-1 description <%= (!expanded)? 'collapsed' : '';%>">
                                            <%-book.description%>
                                                <% if(!expanded){ %>
                                                    <fade />
                                                    <% } %>
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <ul class="list-group list-group-flush">
        <li class="list-group-item">

        </li>
    </ul> -->
            <div class="nav-likescomments card-footer d-flex flex-row align-items-center p-1">
                <span <%if(currentUser){ %>
                    onclick="likeBook('<%=book._id%>',this);"
                        <% }else{ %>
                            onclick="showLoginPopout('You must be signed in.');"
                            <% } %> class="btn-likescomments mr-3 d-flex align-items-center">
                                <svg class="bi mr-1" width="16" height="16" role="img" aria-label="Home"
                                    fill="currentColor">
                                    <use
                                        xlink:href="<%=(currentUser && book.likes.indexOf(currentUser._id)!==-1)? '#thumbsup-fill': '#thumbsup'%>">
                                    </use>
                                </svg>
                                <span class="ml-1 likecounter">
                                    <%= book.likes.length %>
                                </span>
                                <span class="ml-1 d-none d-sm-inline"> Likes</span>
                </span>
                <span class="btn-likescomments mr-3 d-flex align-items-center">
                    <svg class="bi mr-1" width="16" height="16" role="img" aria-label="Home" fill="currentColor">
                        <use xlink:href="#comments"></use>
                    </svg>
                    <%= ejsHelpers.getCommentsLength(book.comments) %><span class="ml-1 d-none d-sm-inline">
                            Comments</span>
                </span>
                <% if(book.meetings.length> 0){ %>
                    <span class="btn-likescomments mr-3 d-flex align-items-center">
                        <svg class="bi mr-1" width="16" height="16" role="img" aria-label="Home" fill="currentColor">
                            <use xlink:href="#calendar-event"></use>
                        </svg>
                        <%= book.meetings.length %><span class="ml-1 d-none d-sm-inline">
                                Meetings</span>
                    </span>
                    <% } %>
                        <% if(book.polls.length> 0){ %>
                            <span class="btn-likescomments mr-2 d-flex align-items-center">
                                <svg class="bi mr-1" width="16" height="16" role="img" aria-label="Home"
                                    fill="currentColor">
                                    <use xlink:href="#barchart-line"></use>
                                </svg>
                                <%= book.polls.length %><span class="ml-1 d-none d-sm-inline">
                                        Polls</span>
                            </span>
                            <% } %>
            </div>
        </div>
        <% if(expanded){ %>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active p-1 p-sm-2" id="comments-tab-_template" data-toggle="tab"
                        data-target="#comments-_template" type="button" role="tab" aria-controls="comments-_template"
                        aria-selected="true">Comments</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link p-1 p-sm-2" id="notes-tab-_template" data-toggle="tab"
                        data-target="#notes-_template" type="button" role="tab" aria-controls="notes-_template"
                        aria-selected="false">Notes</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link p-1 p-sm-2" id="meetings-tab-_template" data-toggle="tab"
                        data-target="#meetings-_template" type="button" role="tab" aria-controls="meetings-_template"
                        aria-selected="false">Meetings</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link p-1 p-sm-2" id="polls-tab-_template" data-toggle="tab"
                        data-target="#polls-_template" type="button" role="tab" aria-controls="polls-_template"
                        aria-selected="false">Polls</button>
                </li>
            </ul>
            <div class="tab-content bg-muted bot-shadow-s mb-md-5" id="myTabContent">
                <div class="tab-pane fade show active" id="comments-_template" role="tabpanel"
                    aria-labelledby="comments-tab-_template">
                    <% if(book.comments.length>0){ %>
                        <div class="p-0">
                            <% book.comments.sort(function(a,b){ return new Date(b.updated) - new Date(a.updated);
                                }).forEach((comment, index)=> { %>
                                <%- include('../components/book-comment', {book: book, comment: comment, level: 1})%>
                                    <% }); %>
                        </div>
                        <% }else{ %>
                            <div class="px-3 pt-3 pb-5 bg-white">
                                No comments posted yet, try posting one!
                            </div>
                            <% } %>
                </div>
                <div class="tab-pane fade" id="notes-_template" role="tabpanel" aria-labelledby="notes-tab-_template">
                    <% if(book.notes.length>0 && currentUser){ %>
                        <div class="p-0">
                            <% book.notes.sort(function(a,b){ return new Date(b.posted) - new Date(a.posted);
                                }).forEach((note, index)=> { %>
                                <%- include('../components/book-note', {book: book, note: note})%>
                                    <% }); %>
                        </div>
                        <% }else{ %>
                            <div class="px-3 pt-3 pb-5 bg-white">
                                No personal notes posted yet, try posting one! Only you can see these!
                            </div>
                            <% } %>
                </div>
                <div class="tab-pane fade" id="meetings-_template" role="tabpanel"
                    aria-labelledby="meetings-tab-_template">
                    <% if(book.meetings.length>0 && currentUser){ %>
                        <div class="p-0">
                            <% book.meetings.sort(function(a,b){ return new Date(b.posted) - new Date(a.posted);
                                }).forEach((meeting, index)=> { %>
                                <%- include('../components/book-meeting', {book: book, meeting: meeting})%>
                                    <% }); %>
                        </div>
                        <% }else{ %>
                            <div class="px-3 pt-3 pb-5 bg-white">
                                No meetings posted yet, try posting one!
                            </div>
                            <% } %>
                </div>
                <div class="tab-pane fade" id="polls-_template" role="tabpanel" aria-labelledby="polls-tab-_template">
                    <% if(book.polls.length>0 && currentUser){ %>
                        <div class="p-0">
                            <% book.polls.sort(function(a,b){ return new Date(b.posted) - new Date(a.posted);
                                }).forEach((poll, index)=> { %>
                                <%- include('../components/book-poll', {book: book, poll: poll})%>
                                    <% }); %>
                        </div>
                        <% }else{ %>
                            <div class="px-3 pt-3 pb-5 bg-white">
                                No polls posted yet, try posting one!
                            </div>
                            <% } %>
                </div>
            </div>




            <% } %>
                <% }); %>
                    <% } catch(e){ console.log(e)} %>