<div class="club-selector d-flex flex-row dropdown cursor-pointer align-items-center rounded border bg-light p-1"
    id="<%=id%>-club-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="/img/bookstack.png" width="24" height="24" class="club-select-icon rounded-circle mr-1"
        <%=`style=border-color:#ebebeb `%>>
    <span class="mr-1">
        <%= (id=="newbook" )? 'Select a club to post to...' : 'All Clubs' %>
    </span>
    <svg class="ml-auto bi text-muted" width="24" height="24" role="img" aria-label="Home" fill="currentColor">
        <use xlink:href="#arrow-d"></use>
    </svg>
</div>
<div class="dropdown-menu shadow" aria-labelledby="<%=id%>-club-dropdown">
    <% if(id!="newbook" ){ %>
        <div class="d-flex flex-row dropdown-item cursor-pointer align-items-center mb-1 p-2"
            id="allclubs-club-dropdown" aria-haspopup="true" aria-expanded="false" data-clubicon="/img/bookstack.png"
            data-clubname="All Clubs" data-clubid="allclubs" data-clubcolor="#ebebeb"
            data-parentid="<%=id%>-club-dropdown" onclick="selectClub(this);">
            <img src="/img/bookstack.png" width="24" height="24" class="club-select-icon rounded-circle mr-1"
                <%=`style=border-color:#ebebeb `%>>
            <span>
                All Clubs
            </span>
        </div>
        <% } %>
            <% clubs.forEach((club, index)=>{ %>
                <div class="d-flex flex-row dropdown-item cursor-pointer align-items-center mb-1 p-2"
                    id="<%=club.id%>-club-dropdown" aria-haspopup="true" aria-expanded="false"
                    data-clubicon="<%=club.icon.url%>" data-clubname="<%=club.name%>" data-clubid="<%=club.id%>"
                    data-clubcolor="<%=club.color%>" data-parentid="<%=id%>-club-dropdown" onclick="selectClub(this);">
                    <img src="<%=club.icon.url%>" width="24" height="24" class="club-select-icon rounded-circle mr-1"
                        <%=`style=border-color:${club.color} `%>>
                    <span>
                        <%=club.name%>
                    </span>
                </div>
                <% }); %>
</div>