<ul class="dropdown-menu text-small shadow" aria-labelledby="comment-ellipsis-<%=id%>">
    <li><a class="dropdown-item" href="#">Share</a></li>
    <li><a class="dropdown-item" href="#">Report</a></li>
    <% if(canEdit){ %>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" onclick="editComment('<%=id%>')">Edit</a></li>
        <li><a class="dropdown-item" onclick="deleteComment('<%=id%>')">Delete</a></li>
        <% } %>
</ul>