<nav class="bg-light p-3" id="comment-popout">
    <div class="comment-collapse flex-row flex-shrink-0 align-items-center">
        <a href="/" class="d-inlineblock flex-spacer-r link-dark text-decoration-none">
            <img src="<%=(currentUser)? currentUser.image.url: '/img/person-placeholder.jpg'%>" width="32" height="32"
                class="rounded-circle border">
        </a>
        <button onclick="expandCommentInput();" class="btn btn-block btn-light border text-left">
            Post a comment
        </button>
    </div>

    <div class="comment-expand w-100">
        <div class="w-100 text-center text-muted noselect resizer">&middot; &middot; &middot; &middot;</div>
        <!-- <textarea name="comment[body]" class="form-control w-100" rows="3" id="commenttextarea"
            placeholder="Post a comment"></textarea> -->
        <div id="comment-error" class="d-none error text-danger mb-1"></div>
        <div id="comment-reply" class="mr-1 w-100"></div>
        <div class="d-none flex-row align-items-center mt-2 mb-1" id="meeting-controls">
            <input type="text" placeholder="Subject" class="flex-grow-1 form-control mr-2" id="meeting-subject">
            <select id="meeting-repeat" class="form-select form-control">
                <option selected value="never">Repeat: Never</option>
                <option value="weekly">Repeat: Weekly</option>
            </select>
            <input type="number" placeholder="Duration (weeks)" class="d-none form-control ml-2"
                id="meeting-repeatduration" value="0">
        </div>
        <div class="w-100 bg-light quill-multiline" id="commenttextarea">

        </div>
        <div class="d-none w-100 bg-light" id="poll-container">
            <input type="text" placeholder="Enter poll question here" class="form-control d-block mb-1"
                id="poll-question">

            <div class="pl-3" id="poll-options">
                <div class="polloption d-flex flex-row align-items-center mb-1">
                    <input type="text" placeholder="Enter poll option" class="form-control flex-grow-0 mr-1">
                    <svg onclick="removePollOption(this);" class="ml-auto flex-shrink-0 bi text-muted cursor-pointer"
                        width="24" height="24" fill="currentColor">
                        <use xlink:href="#trashcan"></use>
                    </svg>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center my-1">
                <div class="form-check flex-grow-0">
                    <input type="checkbox" name="poll-multiplechoice" class="form-check-input" id="poll-multiplechoice">
                    <label class="form-check-label" for="poll-multiplechoice">Multiple choice</label>
                </div>
                <svg onclick="addPollOption();" class="ml-auto flex-shrink-0 bi text-muted cursor-pointer" width="24"
                    height="24" fill="currentColor">
                    <use xlink:href="#plussign-fill"></use>
                </svg>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mt-2">
            <input type="text" placeholder="Search-inside quote"
                class="flex-grow-0 form-control search-inside-input mr-1" data-toggle="tooltip" data-placement="top"
                title="This quote will link to Archive.org's Search-inside database." id="comment-siQuote">
            <input type="number" placeholder="Page #" class="flex-grow-1 form-control search-inside-page mr-2"
                id="comment-siPage">
            <input type="datetime-local" placeholder="Date and Time" class="d-none flex-grow-0 form-control mr-2"
                id="meeting-datetime">

            <span class="ml-auto flex-shrink-0">
                <a onclick="submitCommentInput();" id="comment-submit" data-page="3" class="" tabindex=0>
                    Post
                </a>
            </span>
        </div>
    </div>
</nav>