<main class="bg-dark-transparent content-minipopout d-none" id="minipopout-<%=id%>">
    <div class="card bot-shadow-s card-minipopout">

        <div class="card-header d-flex flex-row align-items-center">

            <svg onclick="hideMiniPopout('minipopout-<%=id%>');" class="ml-auto bi text-muted cursor-pointer" width="16"
                height="16" fill="currentColor">
                <use xlink:href="#close-x"></use>
            </svg>
        </div>
        <div class="card-body">
            <div class="loader-container">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</main>