<ul class="dropdown-menu text-small shadow" aria-labelledby="note-ellipsis-<%=id%>">
    <li><a class="dropdown-item" href="#">Share</a></li>
    <li><a class="dropdown-item" href="#">Report</a></li>
    <% if(canEdit){ %>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item edit" onclick="editNote('<%=id%>')">Edit</a></li>
        <li><a class="dropdown-item" onclick="deleteNote('<%=id%>')">Delete</a></li>
        <% } %>
</ul>