<ul class="dropdown-menu text-small shadow" aria-labelledby="content-popout-ellipsis-<%=id%>">
    <li><a class="dropdown-item" href="#">Share</a></li>
    <li><a class="dropdown-item" href="#">Report</a></li>
    <li><a class="dropdown-item" href="#">Block user</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item popout-edit-item">Edit</a></li>
    <li><a class="dropdown-item popout-delete-item">Delete</a></li>
</ul>