<nav class="card bg-light p-1 mb-2" id="">
    <div class="d-flex flex-row flex-shrink-0 align-items-center">
        <a href="/" class="d-inlineblock mx-1 link-dark text-decoration-none">
            <img src="<%=(currentUser)? currentUser.image.url: '/img/person-placeholder.jpg'%>" width="32" height="32"
                class="rounded-circle border">
        </a>
        <button <%if(currentUser){ %>
            onclick="showNewClubPopout();"
            <% }else{ %>
                onclick="showLoginPopout('You must be signed in.');"
                <% } %>
                    class="btn btn-block btn-light border
                    text-left">
                    Create a club
        </button>
    </div>
</nav>