<nav class="card bg-light p-1 mb-2" id="">
    <div class="d-flex flex-row flex-shrink-0 align-items-center">
        <a href="/" class="d-inlineblock mx-1 link-dark text-decoration-none">
            <img src="<%=(currentUser)? currentUser.image.url: '/img/person-placeholder.jpg'%>" width="32" height="32"
                class="rounded-circle border">
        </a>
        <button <%if(currentUser){ %>
            onclick="showNewBookPopout();"
            <% }else{ %>
                onclick="showLoginPopout('You must be signed in.');"
                <% } %>
                    class="btn btn-block btn-light border
                    text-left">
                    Post a book
        </button>
    </div>
</nav>

<nav class="card bg-light p-1 mb-2" id="">
    <div class="d-flex flex-row flex-shrink-0 align-items-center justify-content-around">
        <button onclick="selectFilter({q: '_New'}, this);"
            class="btn <%=(q=='_New')? 'btn-secondary': 'btn-light' %> rounded-pill border text-center d-flex flex-row align-items-center text-muted">
            <svg class="bi mr-1" width="24" height="24" fill="currentColor">
                <use xlink:href="#filter-new"></use>
            </svg>
            New
        </button>
        <button onclick="selectFilter({q: '_Activity'}, this);"
            class="btn <%=(q=='_Activity')? 'btn-secondary': 'btn-light' %> rounded-pill border text-center d-flex flex-row align-items-center text-muted">
            <svg class="bi mr-1" width="24" height="24" fill="currentColor">
                <use xlink:href="#filter-activity"></use>
            </svg>
            Activity
        </button>
        <button onclick="selectFilter({q: '_Top'}, this);"
            class="btn <%=(q=='_Top')? 'btn-secondary': 'btn-light' %> rounded-pill border text-center d-flex flex-row align-items-center text-muted">
            <svg class="bi mr-1" width="24" height="24" fill="currentColor">
                <use xlink:href="#filter-top"></use>
            </svg>
            Top
        </button>
        <% if(currentUser){ %>
            <button onclick="selectFilter({q: '_Saved'}, this);"
                class="btn <%=(q=='_Saved')? 'btn-secondary': 'btn-light' %> rounded-pill border text-center d-flex flex-row align-items-center text-muted">
                <svg class="bi mr-1" width="24" height="24" fill="currentColor">
                    <use xlink:href="#bookmark"></use>
                </svg>
                Saved
            </button>
            <% } %>
    </div>
</nav>

<% if(currentUser && currentUser.clubs.length<=0){ %>
    <div class="card bg-light p-1 mt-2 mb-2 text-center" id="">
        <strong class="">You aren't a member of any clubs so we're showing you some books under public clubs! Try
            joining
            one!</strong>
    </div>
    <% } %>
        <% if(!currentUser){ %>
            <div class="card bg-light p-1 mt-2 mb-2 text-center" id="">
                <strong class="">You aren't logged in so we're showing you some books under public clubs! Feel free to
                    sign up and participate in clubs!</strong>
            </div>
            <% } %>