<div class="row mb-3">
    <div class="col-12">
        <div class="card bot-shadow-s">
            <div class="card-header">
                Book Tags
            </div>
            <div class="card-body">
                <% tags.forEach((tag, index)=> { %>
                    <div class="tag">
                        <span>
                            <%=tag.tag%>
                        </span>
                        <span class="font-weight-bold">
                            <%=(tag.count>1)? tag.count : ""%>
                        </span>
                    </div>
                    <% }); %>
            </div>
        </div>
    </div>
</div>