<div class="row mb-3">
    <div class="col-12">
        <div class="card bot-shadow-s">
            <div class="card-body p-2 small">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <a href="" class="d-block">Help</a>
                        </div>
                        <div class="col-6">
                            <a href="" class="d-block">About</a>
                            <a href="" class="d-block">Blog</a>
                            <a onclick="showPrivacyPolicy()" href="#" class="d-block">Privacy Policy</a>
                            <a onclick="showTermsOfService()" href="#" class="d-block">Terms of Service</a>
                        </div>
                        <div class="col-12 text-center mt-2">
                            <span class="mt-2 text-center">Tara Wilde © 2021 . All rights reserved</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>