<main class="bg-dark-transparent content-minipopout d-none" id="minipopout-register">
    <div class="card bot-shadow-s card-minipopout">

        <div class="card-header d-flex flex-row align-items-center">
            <strong>Sign Up</strong>
            <svg onclick="hideRegisterPopout();" class="ml-auto bi text-muted cursor-pointer" width="16" height="16"
                fill="currentColor">
                <use xlink:href="#close-x"></use>
            </svg>
        </div>
        <div class="card-body">
            <a href="/users/auth/google"
                class="d-flex flex-row align-items-center rounded-pill btn btn-light border btn-block mt-2">
                <svg version="1.1" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                    class="LgbsSe-Bz112c">
                    <g>
                        <path fill="#EA4335"
                            d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                        </path>
                        <path fill="#4285F4"
                            d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                        </path>
                        <path fill="#FBBC05"
                            d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                        </path>
                        <path fill="#34A853"
                            d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                        </path>
                        <path fill="none" d="M0 0h48v48H0z"></path>
                    </g>
                </svg>
                <span class="w-100">
                    Continue with Google
                </span>
            </a>
            <div class="my-2 d-flex flex-row justify-content-center align-items-center">
                <span class="border-bottom border-secondary w-100">

                </span>
                <span class="mx-2">OR</span>
                <span class="border-bottom border-secondary w-100">

                </span>
            </div>
            <div class="d-none alert alert-danger text-center" role="alert" id="minipopout-register-flash">

            </div>
            <form id="form-register">
                <div class="form-group mb-0">
                    <label for="newdisplayname-input" class="mb-0"><small>Display Name</small></label>
                    <input type="text" name="displayname" class="form-control" id="newdisplayname-input"
                        aria-describedby="" placeholder="Display Name" required>
                </div>
                <div class="form-group mb-0">
                    <label for="newusername-input" class="mb-0"><small>Username</small></label>
                    <input type="email" name="username" class="form-control" id="newusername-input"
                        aria-describedby="emailHelp" placeholder="Username" required>
                </div>
                <div class="form-group mb-0">
                    <label for="newpassword-input" class="mb-0"><small>Password</small></label>
                    <input type="password" name="password" class="form-control" id="newpassword-input"
                        placeholder="Password" required>
                </div>
                <div class="form-group mb-0">
                    <label for="newconfpassword-input" class="mb-0"><small>Confirm Password</small></label>
                    <input type="password" name="confpassword" class="form-control" id="newconfpassword-input"
                        placeholder="Password" required>
                </div>
                <div class="form-check my-1">
                    <input type="checkbox" name="agreetos" class="form-check-input" id="agree-check" required>
                    <label class="form-check-label" for="agree-check">I agree to the <a onclick="showTermsOfService()"
                            href="#">Book
                            Club terms of
                            service</a></label>
                </div>
                <button type="submit" class="rounded-pill btn btn-primary btn-block mt-2">Register</button>

                <small class="mt-2 d-block">
                    Already have an account? <strong><a href="#" onclick="showLoginPopout();">Log In</a></strong>
                </small>
            </form>
        </div>
    </div>
</main>