<% try { %>
    <div class="row mb-3">
        <div class="col-12">
            <div class="card bot-shadow-s">
                <div class="card-body p-2 small">
                    <% if(ejsHelpers.getMeetingsToday(meetings).length> 0){ %>
                        <div class="font-weight-bold mb-1">Today's Meetings</div>
                        <ul class="p-0">
                            <% ejsHelpers.getMeetingsToday(meetings).forEach((meeting, index)=> { %>
                                <li class="rounded mb-1 p-2 d-inline-block text-white text-shadow <%=(expanded)? 'cursor-pointer': ''%>"
                                    <%=`style=background-color:${meeting.parentBook.club.color} `%>
                                    <% if(expanded){ %>
                                        onclick="showBook('<%=meeting.parentBook._id%>',{ target: ''
                                            },null,'Meetings');"
                                            <% } %>
                                                >
                                                <div class="font-weight-bold">
                                                    <%= meeting.parentBook.title %>: <%= meeting.subject %>
                                                </div>
                                                <%= ejsHelpers.getFriendlyTime(meeting.datetime) %>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>
                            <% if(ejsHelpers.getMeetingsUpcoming(meetings).length> 0){ %>
                                <div class="font-weight-bold mb-1">Upcoming Meetings</div>
                                <ul class="p-0">
                                    <% ejsHelpers.getMeetingsUpcoming(meetings).forEach((meeting, index)=> { %>
                                        <li class="rounded mb-1 p-2 d-inline-block text-white text-shadow <%=(expanded)? 'cursor-pointer': ''%>"
                                            <%=`style=background-color:${meeting.parentBook.club.color} `%>
                                            <% if(expanded){ %>
                                                onclick="showBook('<%=meeting.parentBook._id%>',{ target: ''
                                                    },null,'Meetings');"
                                                    <% } %>
                                                        >
                                                        <div class="font-weight-bold">
                                                            <%= meeting.parentBook.title %>: <%= meeting.subject %>
                                                        </div>
                                                        <%= `${ejsHelpers.getFriendlyDate(meeting.datetime)} at
                                                            ${ejsHelpers.getFriendlyTime(meeting.datetime)}` %>
                                        </li>
                                        <% }); %>
                                </ul>
                                <% } %>
                </div>
            </div>
        </div>
    </div>
    <% } catch(e) { console.log(e)} %>