<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Club</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-datepicker3.min.css" id="bsdp-css">

    <link rel="stylesheet" href="/css/app.css">
    <% if(currentUser && currentUser.settings.darkmode){ %>
        <link rel="stylesheet" href="/css/app-dark.css">
        <% } %>
            <% if(currentUser && currentUser.settings.reduceeffects){ %>
                <link rel="stylesheet" href="/css/app-noeffects.css">
                <% } %>
                    <script src='/js/jquery/jquery-3.6.0.min.js'></script>

                    <script src="/js/bootstrap/bootstrap-datepicker.min.js"></script>
                    <link href='/css/fullcalendar/main.css' rel='stylesheet' />
                    <script src='/js/fullcalendar/main.js'></script>

                    <!-- Main Quill library -->
                    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
                    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

                    <!-- Theme included stylesheets -->
                    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
                    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

</head>

<body>
    <%- include('./resources/ui-icons')%>
        <nav class="d-flex flex-row flex-shrink-0 bg-light align-items-center" id="nav-topbar">
            <a href="/" class="d-block px-3 link-dark text-decoration-none">
                <svg class="bi" width="40" height="32" fill="currentColor">
                    <use xlink:href="#booklogo"></use>
                </svg>
            </a>
            <ul class="nav nav-pills nav-flush flex-row text-center">
                <div class="nav-item">
                    <%- include('./components/club-selector', {id: "topbar" })%>
                </div>
                <!-- <div class="nav-item input-group">
                    <div class="input-group-prepend d-flex flex-row align-items-center">
                        <span class="input-group-text h-100" id="basic-addon1">
                            <svg class="bi bi-search" width="16" height="16">
                                <use xlink:href="#search"></use>
                            </svg>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                        aria-describedby="basic-addon1">
                </div> -->
            </ul>
            <div class="dropdown border-top ml-auto" id="nav-userdropdown">
                <a href="#"
                    class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                    id="dropdownUser3" data-toggle="dropdown" aria-expanded="false">
                    <img src="<%=(currentUser)? currentUser.image.url: '/img/person-placeholder.jpg'%>" width="24"
                        height="24" class="rounded-circle border">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                    <% if(currentUser){ %>
                        <li><strong><a class="dropdown-item" href="#">
                                    <%=currentUser.displayname%>
                                </a></strong>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <% } %>
                            <li><a class="dropdown-item" <%if(currentUser){ %>
                                    onclick="showNewBookPopout();"
                                    <% }else{ %>
                                        onclick="showLoginPopout('You must be signed in.');"
                                        <% } %>>Post a book
                                </a></li>
                            <li><a class="dropdown-item" <%if(currentUser){ %>
                                    onclick="showNewClubPopout();"
                                    <% }else{ %>
                                        onclick="showLoginPopout('You must be signed in.');"
                                        <% } %>>Make a club
                                </a></li>
                            <li><a class="dropdown-item" href="/Settings">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <% if(currentUser){ %>
                                <li><a class="dropdown-item" href="/users/logout">Sign out</a></li>
                                <% }else{ %>
                                    <li><a onclick="showLoginPopout()" class="dropdown-item" href="#">Sign in</a></li>
                                    <% } %>
                </ul>
            </div>
        </nav>

        <nav class="d-flex flex-column flex-shrink-0 bg-light" id="nav-sidebar">
            <ul class="nav nav-pills nav-flush flex-column mb-0 mb-sm-auto text-center align-items-center">
                <% navLinks.forEach((navItem, index)=> { %>
                    <li class="nav-item sidebar-nav-item">
                        <a id="nav-<%=navItem.anchorTag%>" data-onload="<%=navItem.onload%>" data-page="<%=index%>"
                            class="nav-link <%= (index == 0)? 'active' : "" %> py-3"
                            aria-current="<%=navItem.anchorTag%>" data-pagename="<%=navItem.anchorTag%>">
                            <svg class="bi" width="24" height="24" role="img" aria-label="<%=navItem.anchorTag%>"
                                fill="currentColor">
                                <use xlink:href="#<%=navItem.iconId%>"></use>
                            </svg>
                        </a>
                        <% if(navItem.anchorTag=="Alerts" ){ %>
                            <span class="<%=(alerts.length>0)? '': 'd-none' %> alert-badge-icon badge badge-pill
                                badge-danger svg-shadow" id="alert-badge">
                                <%=alerts.length%>
                            </span>
                            <% } %>
                    </li>
                    <% }); %>
            </ul>
        </nav>
        <main class="d-flex flex-row" id="content-main">
            <% navLinks.forEach((navItem, index)=> { %>
                <section class="container sub-container" id=<%=`p-${navItem.anchorTag}`%>>
                    <%- include(navItem.preload, {q: "" })%>
                </section>
                <% }); %>
        </main>
        <%- include('./components/content-popout', {id: "_template" })%>
            <%- include('./components/content-minipopout', {id: "_template" })%>
                <%- include('./components/widget-login', {})%>
                    <%- include('./components/widget-register', {})%>
                        <%- include('./components/widget-forgot', {})%>

                            <%- include('./components/comment-popout')%>
                                <%- include('./layouts-popout/newbook', {id: "newbook" , clubs})%>
                                    <%- include('./layouts-popout/newclub', {id: "newclub" , clubs})%>

                                        <script
                                            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                                            crossorigin="anonymous"></script>
                                        <script src="/js/bootstrap/bootstrap.min.js"
                                            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                                            crossorigin="anonymous"></script>
                                        <script>
                                            let reduceAnims = "<%=(currentUser)? currentUser.settings.reduceanims : '';%>";
                                            if (reduceAnims == 'true') {
                                                (function ($) {
                                                    var oldAnimate = $.fn.animate;
                                                    jQuery.fn.animate = function (styleObj, timer, onFinish) {
                                                        this.css(styleObj);
                                                        if (onFinish) { onFinish(); }
                                                    }
                                                })(jQuery);
                                            }
                                        </script>
                                        <script src="/js/app.js"></script>
                                        <script>
                                            var triggerTabList = [].slice.call(document.querySelectorAll('#myNewBookTab li'))

                                            triggerTabList.forEach(function (triggerEl) {
                                                var tabTrigger = new bootstrap.Tab(triggerEl)

                                                triggerEl.addEventListener('click', function (event) {
                                                    event.preventDefault()
                                                    tabTrigger.show()
                                                })
                                            })
                                        </script>
</body>

</html>