* {
    text-shadow: unset !important;
    box-shadow: unset !important;
    filter: unset !important;
    backdrop-filter: unset !important;
}

.bg-glass {
    background-color: rgba(255, 255, 255, 0.95) !important;  
}