body {
    color: rgb(219, 219, 219) !important;
    background: linear-gradient(-45deg, #b13813, #aa1b52, #0a82ad, #04a37e);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.link-dark {
    color: #0162ca !important;
}

.bg-white, .border-white {
    background-color: #1a1a1a !important;
}

.bg-light, .btn-light, .border-light {
    background-color: #292929 !important;
}


.bg-unread {
    /* background-color: #c0c7ff !important; */
    background-color: #1baa67 !important;
}

.btn-light {
    color: #8b8b8b !important;
}

.slider {
    background-color: rgb(146, 146, 146);
}

.border {
    border-color: rgb(94, 94, 94) !important;
}

.btn-secondary {
    background-color: #414141 !important;
}

.dropdown-menu {
    background-color: #363636 !important;
}

.dropdown-item {
    color: #bbbbbb !important;
}

.dropdown-item:hover {
    color: #444444 !important;
    background-color: #bbbbbb !important;
}

.card {
    background-color: #353535 !important;
}

.tag {
    background-color: #428b69; 
}

.nav-link:focus {
    border-color: #313131 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #353535 !important;
    color: white !important;

    border-color: #313131;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .tab-content {
    border-color: #313131;
}

.nav-tabs {
    border-bottom: 1px solid #313131;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #313131;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    background-color: #2c2c2c !important;
    color: white !important;

}

fade {
    background-image: linear-gradient(to bottom, 
        #29292900, 
        rgba(41, 41, 41, 0.9)
    100%);
}

.nav-likescomments {
    color: #888888;
}

.nav-likescomments .btn-likescomments:hover {
    color: #9c9c9c;
    cursor: pointer;
}

.bg-glass {
    background-color: rgba(29, 29, 29, 0.95) !important;  
}

.bg-muted {
    background-color: #353535 !important;
}

@supports (backdrop-filter: blur(10px)) {
    .bg-glass {
        background-color: rgba(29, 29, 29, .8) !important;  
    }
}

.comment-quote a, .note-quote a {
    color: #9e9e9e !important;
}

.collapsed.comment-header, .collapsed.note-header {
    background-color: #505050 !important;
}

@-o-keyframes fadeIt {
    0%   { background-color: #CCE8DB !important; }
    100% { background-color: #1a1a1a !important; }
}
@keyframes fadeIt {
    0%   { background-color: #CCE8DB !important; }
    100% { background-color: #1a1a1a !important; }
}

