:root {
    --sidebar-thickness: 4.5rem;
    --topbar-thickness: 3.5rem;
    --commentbar-thickness: 4.8rem;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    -webkit-overflow-scrolling: touch;
}

a, .cursor-pointer {
    cursor: pointer;
    text-decoration: none !important;
}

.ml-auto {
    margin-left: auto !important;
}

/* Nav bar top */
#nav-topbar ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#nav-topbar {
    z-index: 100;
    
    height: var(--topbar-thickness);
    width: calc(100vw);
    
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: space-between;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

}

.input-group-prepend .input-group-text {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.time-input {
    width: 130px;
}

/* End nav bar top */

/* Nav bar side */
#nav-sidebar {
    z-index: 50;
    width: var(--sidebar-thickness);
    height: calc(100vh - var(--topbar-thickness));
    
    position: fixed;
    bottom: 0px;
    left: 0px;

    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
}

#nav-sidebar .nav-pills .nav-item {
    color: #007bff;
}
#nav-sidebar .nav-pills .nav-item:hover {
    color: #469fff;
}

#nav-sidebar .nav-pills .nav-item a.active:hover {
    color: white;
}
/* End Nav bar side */

/* Main content pane */
#content-main {
    background-color: transparent;

    z-index: 0;
    height: calc(100vh - var(--topbar-thickness));
    /* width: calc(100% - var(--sidebar-thickness)); */

    position: fixed;
    top: calc(var(--topbar-thickness));
    left: 0px;  
   
    /* for debug */
    /* overflow-x: scroll;     */
}

.sub-container {
    background-color: transparent;

    width: 100vw;
    height: 100%;
    padding-left: calc(var(--sidebar-thickness) + var(--bs-gutter-x,.75rem));
}

.container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: unset;
    max-height: unset;
}

.card-minipopout .card-body .container {
    max-height: calc(100vh - var(--topbar-thickness) - var(--sidebar-thickness));
}

.card-minipopout .card-body .container h1 {
    font-size: 1.6rem;
}
.card-minipopout .card-body .container h2 {
    font-size: 1.4rem;
}

.card-minipopout .card-body .container h3 {
    font-size: 1.2rem;
}

/* End main content pane */

.content-popout-nav {
    height: var(--topbar-thickness);
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.content-popout {
    
    z-index: 125;
    height: calc(100vh);
    width: calc(100vw);

    max-width: unset;
    max-height: unset;

    position: fixed;
    top: 0px;
    right: calc(-100vw);

    overflow-y: hidden;
    overflow-x: hidden;    
}


.content-minipopout-nav {
    height: var(--topbar-thickness);
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    z-index: 200;
}

.content-minipopout {
    
    z-index: 225;
    height: calc(100vh);
    width: calc(100vw);

    max-width: unset;
    max-height: unset;

    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0;

    overflow-y: hidden;
    overflow-x: hidden;    
}
.card-minipopout{
    width: 100vw;
    max-width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.322);  
}

.bg-muted {
    background-color: #ebebeb;
}

.bg-glass {
    background-color: rgba(255, 255, 255, 0.95);  
}

@supports (backdrop-filter: blur(10px)) {
    .bg-glass {
        background-color: rgba(255, 255, 255, .8);  
        backdrop-filter: blur(10px);
    }
}

.content-popout .container {
    /* height: calc(100% - var(--topbar-thickness)); */
    height: calc(100% - var(--topbar-thickness));
    padding-bottom: 165px;
}

/* Comment popout styles */
#comment-popout {
    z-index: 150;
    /* height: var(--commentbar-thickness); */
    height: auto;
    width: calc(100vw);

    position: fixed;
    bottom: calc(0px - var(--commentbar-thickness));
    right: 0px;

    overflow-y: hidden;
    overflow-x: hidden;   
     
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#comment-popout textarea {
    height: 2.5rem;
    max-height: 15rem;
    min-height: 3rem;
}

#comment-reply {
    
}

.quill-multiline{
    height: 2.5rem;
    max-height: 15rem;
    min-height: 3rem;
    overflow-y: auto;
}

.quill-description{
    height: 8.5rem;
    max-height: 15rem;
    min-height: 3rem;
    overflow-y: auto;
}

.search-inside-input {
    max-width: 30rem;
}

.search-inside-page {
    max-width: 5rem;
}

.comment-quote, .note-quote, .meeting-quote, .poll-quote {
    font-style: italic;
    font-size: 0.8em;
    border-left: 4px solid #c2c2c2;
    padding-left: 8px;
    margin-left: 6px;
}
.comment-quote a, .note-quote a {
    color: #adadad;
}
.comment-quote a:hover, .note-quote a:hover {
    color: #0056b3;
}

#comment-popout .comment-expand textarea {
    /* align-self: start; */
    resize: none;
    height: calc(var(--commentbar-thickness) + 4rem);
}


.comment-collapse {
    display: flex;
}

.replies {
    border-left: 3px solid #dbdbdb;
}

.collapsed.comment-header, .collapsed.note-header {
    background-color: #f8f8f8;
    padding: 3px;
    border-radius: 6px;
}

.top-shadow {
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.335);
}

.bot-shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.335);
}

.top-shadow-s {
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.bot-shadow-s {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.svg-shadow {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.589));
}

.text-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8)
}

/* End comment popup styles */

/* Book Styles */
.text-assignee {
    font-size: 0.7rem;
}


@-o-keyframes fadeIt {
    0%   { background-color: #CCE8DB; }
    100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
    0%   { background-color: #CCE8DB; }
    100% { background-color: #FFFFFF; }
}
  
div.highlighted {
    background-image: none !important; 
    -o-animation: fadeIt 2s ease-in-out; 
    animation: fadeIt 2s ease-in-out; 
}

.post-info {
    font-size: 0.7rem;
}

.book.card[onclick]:hover {
    cursor: pointer;
    border-color: #343a40;
}

.book.card div[data-toggle='collapse']:hover {
    cursor: pointer;
    background-color: rgb(237, 237, 237);
}

.book.card .card-body, .club.card .card-body {
    border-left: 6px solid transparent;    
}

.publicClubContainer{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.club.card.mini {
    margin: 5px;
    max-width: 200px;
    min-width: 200px;
}

.book.card .card-body.sla-placeholder  {
    border-color: #dbdbdb;
}

.nav-likescomments {
    color: #0000005e;
}

.nav-likescomments .btn-likescomments:hover {
    color: #00000093;
    cursor: pointer;
}

.nav-item[role=presentation] button.active {
    color: #000000b7;
}
.nav-item[role=presentation] button {
    color: #0000005e;
}

.book-priority {
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 0.8rem;
}

.book-status {
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 0.8rem;
}

.book-card-cover {
    float: right;
}

.book-cover {
    max-height: 200px;
}

.card.club .card-header {
    height: 32px;
    width: 100%;
}

.club-badge-center {
    position: absolute;
    left: 50%;
    top: 32px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 4px solid white;
    background-color: white;
}

.club-select-icon {
    border: 4px solid white;  
    box-sizing: content-box;
}


.tab-content {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #dee2e6;
    
    border-radius: 0.25rem;
    border-top-left-radius: unset;
}

.tag {
    display: inline-block;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 0.8rem;
    background-color: #CCE8DB; 
    margin-right: 0.3rem;
}

.floating-trash {
    position: absolute;
    top: 0px;
    right: 0px;
}

.btn-fixed-size {
    min-width: 66px;
}

.alert-author-icon {
    width: 100%;
    height: auto;

    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.sidebar-nav-item {
    display: block;
    width: 58px;
    height: 58px;
}

.alert-badge-icon {
    /* display: block; */
    position: relative;
    top: -62px;
    right: -23px;

    user-select: none;
    cursor: pointer;
}

.alert-type-icon {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;

    width: 26px;
    height: 26px;
}

.alert-type-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.displaypic-preview {
    max-width: 100px;
    max-height: 100px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0px);
}

.carousel .carousel-inner .carousel-item img {
    max-height: 150px;
    min-height: 150px;
    object-fit: contain;
    background-color: rgb(237, 237, 237);
    filter: brightness(0.8);
    transition: filter 0.2s, color 0.2s;
}

.carousel .carousel-inner .carousel-item img:hover {
    filter: none;
    transition: filter 0.2s, color 0.2s;
}

.carousel-text {
    z-index: 15;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: white;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}

/* End book pills */


.flex-spacer-r {
    margin-right: 0.8rem;
}

.flex-spacer-l {
    margin-left: 0.8rem;
}

.flex-spacer-r-sm {
    margin-right: 0.3rem;
}


/* Small Screen Reactive Styles */
@media (max-width: 576px) { 
    :root {
        --sidebar-thickness: 3.85rem;
    }

    #nav-sidebar {
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);

        justify-content: center;
        height: var(--sidebar-thickness);
        width: calc(100vw);

        top: unset;
        bottom: 0px;
        left: 0px;
        
        flex-direction: row !important;
    }
    #nav-sidebar .flex-column {
        flex-direction: row !important;
    }    
    /* .sidebar .nav-pills .nav-item a {
        max-height: var(--sidebar-thickness);
    } */

    #content-main {
        height: calc(100vh - var(--sidebar-thickness) - var(--topbar-thickness));
        /* width: calc(100%); */
    }

    .sub-container {
        width: calc(100vw);
        padding-left: var(--bs-gutter-x,.75rem);
    }
}

/* Background Testing */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: calc(100vh);
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Utilities */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .resizer {
      cursor: ns-resize;
  }

.placeholder {
    display: inline-block;
    border-radius: 5px;
    /* padding: 0px 6px; */
    /* background-color: #cacaca; */
    /* background: linear-gradient(-45deg, #cacaca, #e9e9e9); */
    background: linear-gradient(-45deg, #cacaca, #dfdfdf, #cacaca);
	background-size: 400% 400%;
	animation: placeholder-gradient 2s ease infinite;
}

.placeholder-round {
    /* padding: 0px 6px; */
    /* background-color: #cacaca; */
    /* background: linear-gradient(-45deg, #cacaca, #e9e9e9); */
    background: linear-gradient(-45deg, #cacaca, #dfdfdf, #cacaca);
	background-size: 400% 400%;
	animation: placeholder-gradient 2s ease infinite;
}

@keyframes placeholder-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.placeholder-userpic {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.placeholder-carousel{
    width: 150px;
    height: 150px;
}

.placeholder-title {
    width: 4em;
    height: 0.9em;
}
.placeholder-text{
    width: 4em;
    height: 0.9em;
}

.placeholder-body{
    width: 80%;
    height: 0.9em;
}
.placeholder-body-2{
    width: 50%;
    height: 0.9em;
}
.placeholder-tag{
    width: 3em;
    height: 0.9em;
}

.loader-container {
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.333));

    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 16px solid #f3f3f3b9; /* Light grey */
    border-top: 16px solid #bbbbbb8f; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Search Result Styles */
.result-title {
    font-weight: bold;
}
.result-author {
    font-size: 0.8rem;
}
.result-published {
    font-size: 0.8rem;
    font-style: italic;
}

.btn-club {
    max-width: 200px;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
}

.btn-secondary {
    background-color: #d3d3d3 !important;
}

.bg-unread {
    /* background-color: #c0c7ff !important; */
    background-color: #CCE8DB !important;
}

.btn-book-popout {
    position: absolute;
    top: 3px;
    right: 3px;
    color: white;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
}

.description.collapsed {
    max-height: 4.5rem;
    overflow: hidden;
}

fade {
    position: absolute;
    bottom: 0px;
    left: -4px;

    display: block;
  
    width: 100%;
    height: 50px;
  
    background-image: linear-gradient(to bottom, 
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 0.9)
    100%);
}


/* setting switch toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.popdown-message {
    position: fixed;
    top: -64px;
    left: 0px;
    text-align: center;
    z-index: 250;
    width: 100%;
    padding: 0.25rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

}

.popdown-message.error {
    color: #721c24;
    background-color: #f8d7da;
}

.popdown-message.success {
    color: #155724;
    background-color: #d4edda;
}
