<% try{ %>
    <div class="container">
        <% club.members.forEach((member, index)=> { %>
            <div class="d-flex align-items-center flex-row mb-1 bg-light p-2">
                <img src="<%=member.image.url%>" width="24" height="24" class="rounded-circle border mr-2">
                <span>
                    <%=member.displayname%>
                </span>
                <span class="ml-auto">
                    <svg class="bi mr-2 text-primary cursor-pointer" width="24" height="24" role="img"
                        aria-label="Club owner?" fill="currentColor"
                        onclick="updateClubMember('<%=club._id%>','<%=member._id%>','promote', this)">
                        <use
                            xlink:href="<%=(club.owners.indexOf(member._id.toString()) !== -1)? '#is-owner' : '#isnot-owner'%>">
                        </use>
                    </svg>
                    <svg class="bi text-primary cursor-pointer" width="24" height="24" role="img"
                        aria-label="Boot member" fill="currentColor"
                        onclick="updateClubMember('<%=club._id%>','<%=member._id%>','kick', this)">
                        <use xlink:href="#boot-member">
                        </use>
                    </svg>
                </span>
            </div>
            <% }); %>
    </div>
    <% }catch(e){ console.log(e) } %>