<form id="form-displayname">
    <div class="form-group mb-0">
        <label for="newdisplayname-input" class="mb-0"><small>Display Name</small></label>
        <input type="text" name="displayname" class="form-control" id="newdisplayname-input" aria-describedby=""
            placeholder="Display Name" value="<%=currentUser.displayname%>" required>
    </div>

    <button type="button" class="rounded-pill btn btn-primary btn-block mt-4"
        onclick="sendUpdatedProfile(this)">Update</button>
</form>