<div class="card bot-shadow-s card-minipopout">
    <div class="card-header d-flex flex-row align-items-center">
        Add Filter
        <svg onclick="hideMiniPopout('minipopout-<%=id%>');" class="ml-auto bi text-muted cursor-pointer" width="16"
            height="16" fill="currentColor">
            <use xlink:href="#close-x"></use>
        </svg>
    </div>
    <div class="card-body">
        <label for="filtertype">Filter Type</label>
        <select name="filtertype" id="filtertype">
            <option value="opener">Book Opener</option>
            <option value="assignee">Book Assignee</option>
            <option value="client">Client</option>
            <option value="office">Office</option>
            <option value="opened">Open Date</option>
            <option value="closed">Close Date</option>
            <option value="updated">Update Date</option>
            <option value="status">Book Status</option>
            <option value="slastatus">SLA Status</option>
            <option value="priority">Priority</option>
        </select>

    </div>
</div>