<p>
    You've received a secret invitation to a private club. Click join below to join it!
</p>
<div class="card club mb-2 cursor-pointer">
    <div class="card-header d-flex flex-row align-items-center" <%=`style=background-color:${club.color} `%>
        >
        <img src="<%=club.icon.url%>" width="48" height="48" class="rounded-circle club-badge-center">
        <% if(club.private){ %>
            <svg class="bi ml-auto text-white svg-shadow" width="16" height="16" role="img" aria-label="Home"
                fill="currentColor" alt="private">
                <use xlink:href="#private-fill"></use>
            </svg>
            <% } %>
    </div>
    <div class="card-body p-1" <%=`style=border-color:${club.color} `%>>
        <h4 class="text-center mt-3">
            <%=club.name%>
        </h4>
        <p class="text-center">
            <%- club.description %>
        </p>
        <p class="text-center text-muted">
            <%= club.members.length %> members
        </p>
        <p class="text-center text-danger d-none error">

        </p>
        <div class="px-md-4 px-1 my-2">
            <% if(currentUser && (!club.private || club.members.indexOf(currentUser._id) !==-1)){ %>
                <% if(currentUser && club.owners.indexOf(currentUser._id) !==-1){ %>
                    <button class="rounded-pill btn btn-secondary btn-block btn-club"
                        onclick="joinClub('<%=club._id%>',this)">Owner</button>
                    <p class="text-center text-primary mt-1">
                        <a onclick="showSharePopout('<%=club.id%>',this);">Invite Friends</a>
                    </p>
                    <% } else if(currentUser && club.members.indexOf(currentUser._id) !==-1){ %>
                        <button class="rounded-pill btn btn-secondary btn-block btn-club"
                            onclick="joinClub('<%=club._id%>',this)">Joined</button>
                        <% }else{ %>
                            <button class="rounded-pill btn btn-primary btn-block btn-club"
                                onclick="joinClub('<%=club._id%>',this)">Join
                                Club</button>
                            <% } %>
                                <% }else{ %>
                                    <button class="rounded-pill btn btn-primary btn-block btn-club"
                                        onclick="joinClub('<%=club._id%>',this, '<%=joinCode%>')">Join
                                        Club</button>
                                    <% } %>
        </div>
    </div>
</div>