<% if(currentUser){ %>
    <div class="form-group mb-3">
        <label for="currentpassword-input" class="mb-0"><small>Current Password</small></label>
        <input type="password" name="password" class="form-control" id="currentpassword-input" placeholder="Password"
            required>
    </div>
    <% } %>
        <div class="form-group mb-0">
            <label for="newpassword-input" class="mb-0"><small>New Password</small></label>
            <input type="password" name="newpassword" class="form-control" id="newpassword-input" placeholder="Password"
                required>
        </div>
        <div class="form-group mb-0">
            <label for="newconfpassword-input" class="mb-0"><small>Confirm Password</small></label>
            <input type="password" name="confpassword" class="form-control" id="newconfpassword-input"
                placeholder="Password" required>
        </div>

        <button onclick="sendResetPassword(this)" type="submit"
            class="rounded-pill btn btn-primary btn-block mt-4">Update</button>