<div class="row">
    <div class="col-12 col-sm-8 col-md-9 mb-3 pr-sm-0" id="book-pane">
        <!-- mockup book -->
        <h3>Oops!</h3>
        <span>
            <%=e.status%>: <%=e.message%>
        </span>
    </div>
    <div class="col-12 col-sm-4 col-md-3 mb-5 d-none d-sm-flex">
        <div class="container-fluid p-0">
            <%- include('../components/widget-links', {})%>
        </div>
    </div>
</div>