<main class="bg-glass content-popout" id="popout-<%=id%>">
    <nav class=" d-flex flex-row flex-shrink-0 bg-primary text-white align-items-center content-popout-nav
    bot-shadow-s" id="">
        <ul class="nav nav-pills nav-flush flex-row text-center align-items-center">
            <li class="nav-item">
                <a onclick="hideNewBookPopout();" class="nav-link text-white" aria-current="page"
                    id="content-popout-nav-close-<%=id%>">
                    <svg class="bi" width="24" height="24" role="img" aria-label="Home" fill="currentColor">
                        <use xlink:href="#back"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-flush flex-row text-center align-items-center ml-auto">

        </ul>
    </nav>
    <div class="d-none alert alert-danger text-center" role="alert" id="popout-<%=id%>-flash">

    </div>
    <section class="container pt-3 pb-5">
        <div class="row mb-3">
            <div class="col-12">
                <%- include('../components/club-selector', {id: "newbook" })%>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-5" id="resultbook-pane">
                <!-- mockup book -->
                <form action="" id="newbook-search-form">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend dropdown cursor-pointer" id="newbook-search-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="input-group-text" id="searchBy">By title</div>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="newbook-search-dropdown">
                            <a onclick="changeNewBookSearch('title',this);" class="dropdown-item" href="#">By title</a>
                            <!-- <a onclick="changeNewBookSearch('bibkeys',this);" class="dropdown-item" href="#">By ISBN</a> -->
                            <a onclick="changeNewBookSearch('author',this);" class="dropdown-item" href="#">By
                                author</a>
                        </div>
                        <input type="text" class="form-control" id="search-input" placeholder="Search">
                        <div class="input-group-append dropdown cursor-pointer" id="">
                            <div onclick="sendSearch()" class="input-group-text" id="searchBy">
                                <svg class="bi bi-search text-muted" width="16" height="16" fill="currentColor">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="container-fluid">
                    <div class="w-100 text-center my-3" id="cantfind-link">
                        <a href="#" onclick="showCustomBookForm()">Can't find your book?</a>
                    </div>
                    <div class="row" id="search-results">
                        <!-- result template -->
                        <div class="col-12 col-sm-4 col-md-3 py-1" id="search-result-_template">
                            <div class="card bot-shadow-s">
                                <img onclick="" class="card-img-top" id="result-img-_template"
                                    src="/img/book-placeholder.jpg"></img>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-up-right btn-book-popout d-none" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                    <path fill-rule="evenodd"
                                        d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                                </svg>
                                <div class="card-body">
                                    <div class="result-title">Book Title</div>
                                    <div class="result-author">Book Author</div>
                                    <div class="result-published">Publish Year</div>
                                </div>
                                <div class="card-footer">
                                    <button data-target="search-result-_template" class="btn btn-primary w-100"
                                        onclick="selectResultBook(this);">Choose</button>
                                </div>
                            </div>
                        </div>
                        <!-- end result template -->
                    </div>
                </div>
                <div class="loader-container" id="search-spinner">
                    <div class="loader"></div>
                </div>
                <div class="w-100 text-center mt-3" id="loadmore-link">
                    <div id="result-counter"></div>
                    <a href="#" onclick="loadMoreSearch()">Load more results</a>
                </div>
            </div>
            <div class="col-12 mb-5" id="postbook-pane">
                <div class="w-100 text-center my-3" id="gobacksearch-link">
                    <a href="#" onclick="exitCustomBookForm()">Go back to search?</a>
                </div>
                <div class="card">
                    <div class="card-header">
                        Post New Book
                    </div>
                    <form id="form-newbook">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-sm-8">
                                        <div class="system-field form-group" data-toggle="tooltip" data-placement="top"
                                            title="This ID is necessary to link your post to the Open Library DB.">
                                            <label for="newbookolId">Open Library ID</label>
                                            <input name="newbook-olId" type="text" class="form-control" id="newbookolId"
                                                disabled>
                                        </div>
                                        <div class="system-field form-group" data-toggle="tooltip" data-placement="top"
                                            title="This ID is necessary to link your post to the Archive.org DB.">
                                            <label for="newbookaId">Archive.org ID</label>
                                            <input name="newbook-aId" type="text" class="form-control" id="newbookaId"
                                                disabled>
                                        </div>

                                        <div class="form-group">
                                            <label for="newbookTitle">Title</label>
                                            <input name="newbook-title" type="text" class="form-control" required
                                                id="newbookTitle">
                                        </div>
                                        <div class="form-group">
                                            <label for="newbookAuthor">Author(s)</label>
                                            <input name="newbook-author" type="text" class="form-control" required
                                                id="newbookAuthor">
                                        </div>
                                        <div class="form-group">
                                            <label for="newbookPublished">Publish Date</label>
                                            <input name="newbook-published" type="text" class="form-control" required
                                                id="newbookPublished">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 text-center img-upload">
                                        <img onclick="" class="img-fluid mb-1" src="/img/book-placeholder.jpg"
                                            id="newbookImg"></img>
                                        <div class="input-group mb-3 text-left">
                                            <div class="custom-file">
                                                <input name="newbook-image" type="file" class="custom-file-input"
                                                    id="inputGroupFile01">
                                                <label class="custom-file-label" for="inputGroupFile01">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="newbookdescription">Description</label>
                                            <div class="w-100 bg-light quill-description" id="newbookdescription">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="newbookTags">Tags</label>
                                            <input name="newbook-tags" type="text" class="form-control" required
                                                id="newbookTags" placeholder="Fiction,Science Fiction,Award Winning">
                                        </div>
                                        <div class="d-flex flex-row">
                                            <button type="submit" class="ml-auto btn btn-primary" id="post-newbook">
                                                Post
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>