<main class="bg-glass content-popout" id="popout-<%=id%>">
    <nav class=" d-flex flex-row flex-shrink-0 bg-primary text-white align-items-center content-popout-nav
    bot-shadow-s" id="">
        <ul class="nav nav-pills nav-flush flex-row text-center align-items-center">
            <li class="nav-item">
                <a onclick="hideNewClubPopout();" class="nav-link text-white" aria-current="page"
                    id="content-popout-nav-close-<%=id%>">
                    <svg class="bi" width="24" height="24" role="img" aria-label="Home" fill="currentColor">
                        <use xlink:href="#back"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-flush flex-row text-center align-items-center ml-auto">

        </ul>
    </nav>
    <section class="container pt-3 pb-5">
        <div class="row">
            <div class="col-12 mb-5" id="postclub-pane">
                <div class="card">
                    <div class="card-header">
                        Start a New Club
                    </div>
                    <form id="form-newclub">
                        <div class="card-body">
                            <div class="d-none alert alert-danger text-center" role="alert" id="popout-<%=id%>-flash">

                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-sm-8">
                                        <div class="form-group">
                                            <label for="newclubName">Club Name</label>
                                            <input type="text" name="newclub-name" class="form-control" required
                                                id="newclubName">
                                        </div>
                                        <div class="form-group">
                                            <label for="newclubColor">Club Color</label>
                                            <input type="color" name="newclub-color" class="form-control" required
                                                id="newclubColor" value="#386aff">
                                        </div>
                                        <div class="form-group">
                                            <label for="newclubdescription">Club Description</label>
                                            <div class="w-100 bg-light quill-description" id="newclubdescription">

                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" name="newclub-private" class="form-check-input"
                                                id="private-check">
                                            <label class="form-check-label" for="private-check">Private
                                                Club</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 text-center img-upload">
                                        <img onclick="" class="img-fluid mb-1" src="/img/book-placeholder.jpg"
                                            id="newclubImg"></img>
                                        <div class="input-group mb-3 text-left">
                                            <div class="custom-file">
                                                <input type="file" name="newclub-icon" class="custom-file-input"
                                                    id="newclubIconInput" required>
                                                <label class="custom-file-label" for="newclubIconInput">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex flex-row">
                                            <button type="submit" class="ml-auto btn btn-primary" id="post-newclub">
                                                Create
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>